In [1]:
from pathlib import Path

from supermops.eval import PDEval

In [2]:
eval_root = Path("../data/evaluation_results")

## Load one example and print all contained pandas DataFrames

In [3]:
eval = PDEval.from_hdf(eval_root / "exact/gt_t3/t3/mu5nu3/eval/eval_all.h5")

Loaded ../data/evaluation_results/exact/gt_t3/t3/mu5nu3/eval/eval_all.h5

In [4]:
eval.run

,eval_version,num_mu_dirs,num_extra_nu_dirs,num_time_steps,grid_size,tag,gtid,gt_file,res_file,fc,projector,redcons_bound,noise_lvl,support,weights,dyn_sep
pjob_id,,,,,,,,,,,,,,,,
1,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,1,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_1.npy,2,new,0.001,0.0,"[[0.8417746407713631, 0.5461097932884877, -0.1...","[1.026136427215012, 0.9270524011915243, 0.9548...",0.047217
2,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,2,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_2.npy,2,new,0.001,0.0,"[[0.2766905508650789, 0.6169321409169475, 0.26...","[0.9556724473375804, 1.02941533452765, 0.97642...",0.091220
3,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,3,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_3.npy,2,new,0.001,0.0,"[[0.7305814241113612, 0.8428762139591831, 0.26...","[1.0704866994798647, 1.0030434256220555, 0.993...",0.031112
4,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,4,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_4.npy,2,new,0.001,0.0,"[[0.6944763069307351, 0.0690108855420617, 0.00...","[0.9897762286366908, 0.9705799312742113, 0.943...",0.027748
5,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,5,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_5.npy,2,new,0.001,0.0,"[[0.659569493787699, 0.34056319870636365, -0.0...","[1.080384597041228, 1.0735329367336757, 0.9278...",0.074400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,1996,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_1996.npy,2,new,0.001,0.0,"[[0.7124451266638595, 0.6206949590246161, -0.2...","[0.904289722111043, 0.9704990038865828, 0.9998...",0.030732
1997,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,1997,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_1997.npy,2,new,0.001,0.0,"[[0.19644533014657473, 0.2935684767444171, 0.0...","[0.9428522022953599, 1.0271842794391584, 0.963...",0.059981
1998,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,1998,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_1998.npy,2,new,0.001,0.0,"[[0.5238265872377191, 0.24310564919996258, 0.3...","[0.9890924719120069, 0.9707389062725594, 1.030...",0.058941
1999,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,1999,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_1999.npy,2,new,0.001,0.0,"[[0.4736545689531295, 0.330303033154026, -0.08...","[1.0398761699205172, 1.0935776117535667, 0.944...",0.052566
2000,migrate_v1tov4,5,3,3,100,fc2/t3gs100/mu5nu3,2000,/home/a/a_schl57/scratch/particle_sims/paper/g...,res/res_2000.npy,2,new,0.001,0.0,"[[0.46881172193328147, 0.7503788025461412, -0....","[1.0659957751480427, 0.9724018041675279, 1.072...",0.097662

In [5]:
eval.time

      pjob_id  time       sep
0           1  -1.0  0.094012
1           1   0.0  0.047217
2           1   1.0  0.062803
3           2  -1.0  0.262113
4           2   0.0  0.199932
...       ...   ...       ...
5995     1999   0.0  0.155902
5996     1999   1.0  0.052566
5997     2000  -1.0  0.115688
5998     2000   0.0  0.110524
5999     2000   1.0  0.097662

[6000 rows x 3 columns]

In [6]:
eval.cluster

,pjob_id,time,thresh,true_pos,detec_srcs,detec_weights,matched_detec,matched_true,cluster_correct,cluster_wstein
0,1,-1.0,0.10,2,"[[0.24111884514089915, 0.561118845140899], [0....","[0.3372356419731365, 0.29870852272441967, 0.10...","[0, 8]","[7, 2]",False,NaN
1,1,-1.0,0.01,2,"[[0.045, 0.385], [0.135, 0.465], [0.165, 0.485...","[0.013010685058466722, 0.011469325742467413, 0...","[35, 38]","[5, 0]",False,NaN
2,1,0.0,0.10,4,"[[0.3533101913575583, 0.15500000000000003], [0...","[0.8713944024470996, 0.1839290489666619, 0.213...","[0, 2, 12, 18]","[1, 5, 6, 0]",False,"{0.01: 0.0243103523884355, 0.05: 0.07746782883..."
3,1,0.0,0.01,4,"[[0.3531589796788937, 0.15476299897101886], [0...","[0.9512538582545869, 0.08505234424262345, 1.98...","[0, 3, 10, 15]","[1, 8, 6, 0]",False,"{0.01: 0.024492863949853595, 0.05: 0.090307871..."
4,1,1.0,0.10,0,"[[0.013402327424463248, 0.2791910679202874], [...","[0.6981448970017181, 0.6279343244440418, 0.337...",[],[],False,NaN
...,...,...,...,...,...,...,...,...,...,...
11995,2000,-1.0,0.01,5,"[[0.017891023181267413, 0.6110223190694538], [...","[0.9463124403873955, 1.0384560745718274, 1.059...","[0, 1, 2, 3, 6]","[1, 0, 6, 2, 4]",False,NaN
11996,2000,0.0,0.10,5,"[[0.02299089048955547, 0.5811171583037313], [0...","[0.8966873667547497, 0.9095010394895422, 0.593...","[0, 3, 4, 5, 7]","[1, 0, 4, 5, 2]",False,"{0.01: 0.017299953179086586, 0.05: 0.050262450..."
11997,2000,0.0,0.01,5,"[[0.02263475179652061, 0.5812178152009454], [0...","[0.9205512900964141, 0.012811901452381183, 0.9...","[0, 5, 11, 15, 16]","[1, 0, 4, 5, 2]",False,"{0.01: 0.017473950338697277, 0.05: 0.040760145..."
11998,2000,1.0,0.10,5,"[[0.029625578751376495, 0.5564094211828232], [...","[0.8395819128580047, 1.4229370405741917, 0.976...","[0, 2, 3, 4, 5]","[1, 4, 0, 5, 2]",False,NaN
11999,2000,1.0,0.01,5,"[[0.027773119418114216, 0.5553548277747363], [...","[0.965928432442426, 0.011493753755438674, 1.52...","[0, 3, 6, 8, 9]","[1, 3, 4, 5, 2]",False,NaN

In [7]:
eval.cluster_wstein

       pjob_id  time  thresh  radius  cluster_sqwstein
0            1   0.0    0.10    0.01          0.000591
1            1   0.0    0.10    0.05          0.006001
2            1   0.0    0.10    0.10          0.015689
3            1   0.0    0.01    0.01          0.000600
4            1   0.0    0.01    0.05          0.008156
...        ...   ...     ...     ...               ...
11995     2000   0.0    0.10    0.05          0.002526
11996     2000   0.0    0.10    0.10          0.007890
11997     2000   0.0    0.01    0.01          0.000305
11998     2000   0.0    0.01    0.05          0.001661
11999     2000   0.0    0.01    0.10          0.003489

[12000 rows x 5 columns]

In [8]:
eval.wstein

      pjob_id  time  radius  sqwstein
0           1   0.0    0.01  0.000725
1           1   0.0    0.05  0.006226
2           1   0.0    0.10  0.010477
3           2   0.0    0.01  0.000153
4           2   0.0    0.05  0.000307
...       ...   ...     ...       ...
5995     1999   0.0    0.05  0.001225
5996     1999   0.0    0.10  0.001950
5997     2000   0.0    0.01  0.000480
5998     2000   0.0    0.05  0.002635
5999     2000   0.0    0.10  0.004434

[6000 rows x 4 columns]

In [9]:
eval.cluster_correct()

      gtid   dyn_sep  cluster_correct
0        1  0.047217            False
1        2  0.091220             True
2        3  0.031112            False
3        4  0.027748            False
4        5  0.074400             True
...    ...       ...              ...
1995  1996  0.030732            False
1996  1997  0.059981            False
1997  1998  0.058941             True
1998  1999  0.052566             True
1999  2000  0.097662            False

[2000 rows x 3 columns]